<%- include('partials/sobie-start') %> <%- include('partials/sobie-nav') %>

        <!-- First Image with Centered Text -->
        <div class="container">
            <div class="d-flex text-center justify-content-center">
                <div class="card-img">
                    <img src="https://studentreasures.com/wp-content/uploads/2022/08/man-speaking-at-a-business-conference-picture-id499517325.jpg"
                        alt="highlight-image1">
                    <div class="centered-text">
                        <p>Join us at the Annual Sobie Conference</p>
                        <p>Call for papers and Registration above</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://www.sketchbubble.com/blog/wp-content/uploads/2020/02/academic-presentation1.png"
                        class="sml-image w-40" alt="presentation">
                </div>
                <div class="col-lg-6">
                    <h1>Summary</h1>
                    <h3>SOBIE was founded in 1995 with the aim to foster collaboration among students and professionals
                        in
                        the fields of business and economics.</h3>
                    <br>
                    <h3>The SOBIE mission is to encourage business faculty members to respond to current economic and
                        market
                        issues, and find practical solutions to the many problems business people and public
                        policymakers.
                    </h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Contributions</h1>
                    <h3>SOBIE is a conference meant for the sharing of academic papers. Submissions and presentations
                        can be
                        made by faculty and students alike. In fact, SOBIE encourages collaboration from all
                        universities
                        able
                        to attend.</h3>
                </div>
                <div class="col-lg-6">
                    <img src="https://www.sketchbubble.com/blog/wp-content/uploads/2020/02/academic-presentation1.png"
                        class="sml-image w-30" alt="presentation">
                </div>
            </div>
        </div>

        <br>

        <!-- Secondary Centered Image -->
        <div class="container">
            <div class="col-lg-12">
                <div class="rounded mx-auto d-block text-center">
                    <img src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        class="img-fluid" alt="highlight-image1">
                </div>
            </div>
        </div>

        <%- include('partials/sobie-footer') %> <%- include('partials/sobie-end') %>