<!-- <div class="alert alert-success alert-dismissible text-center fade show pt-5" role="alert">
  <h4 class="alert-heading"></i>Welcome to the new SOBIE Website</h4>
    <p>Our new SOBIE Website is underway; however, it is still in the BETA testing stage.</p>
    <p>Please contact the <a href="mailto:bcumbie@una.edu">SOBIE Web Team</a> for inquiries or issues.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> -->

<!-- Beth Ann Tucker -->
<div class="notification-icon" onclick="toggleNotifications()">
    <img src="images/annoucement icon.png" alt="megaphone icon" style="width: 24px; height: 24px;">
    <img src="annoucement icon.png" alt="megaphone icon" style="width: 24px; height: 24px;">
    <span class="badge" id="notification-count">2</span>
  </div>
  
<div class="notification-list" id="notification-list" style="display: none;"></div>
<script  src="./scripts/notification.js"></script>
